#pealkiri{
    display:flex;
    justify-content: center;
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
}
body {
    font-family: Arial, sans-serif;
    background-color: midnightblue;
    color: white;
}
#talk{
    display:flex;
    margin-right: auto;
    margin-left: auto;
    border-radius:5px;
    padding: 10px;
}
#name{
    display:flex;
    margin-right: auto;
    margin-left: auto;
    border-radius:5px;
    padding: 10px;
}
button{
    display:flex;
    margin-right: auto;
    margin-left: auto;
    border-radius:5px;
    cursor: pointer;
    color: red;
    font-family: "Pixelify Sans", sans-serif;
}
